body{
    background-color: #1a212d;
}
.image-container {
width: 1080px; /* Adjust this to set the div's width */
height: 576px; /* Adjust this to set the div's height */
margin-bottom:0px;
/* #background-image: url('out.jpg');*/
background-repeat: no-repeat;
background-size:contain;
position: relative;
}
.video_player{
width: 1080px; /* Adjust this to set the div's width */
height: 576px; /* Adjust this to set the div's height */
margin:0px;
padding: 0px;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
.video-overlay {
position:absolute;
z-index: 2;
top:-13px;
left:-10px;
width: 1093px;
height: 600px;
background: url("../ui/overlay-1.png"); 
}
.conversation{
border: None;
border-radius: 4px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
background-color: #1b212c00;
padding: 10px;
width:1100px;
}
#conversation_history{
border: none;
overflow-y: scroll;
height: 337px;
width: 1055px;
padding: 12px;
padding-top:10px;
margin-left: 20px;
margin-top: 8px;
margin-right: 20px;
margin-bottom: 20px;

}
.chat-underlay {
position:absolute;
z-index: 0;
top:0px;
left:-10px;
width: 1093px;
height: 368;
background: url("../ui/chat-overlay.png"); 

}


#conversation_action{
border: 1px solid #334456;

}

.chris_text{
color:red; 
font-weight: bold;

}
.other_text{
color:blue;
font-weight: bold;
}
.red{
color:red;
}

/* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

*::-webkit-scrollbar-track {
background: orange;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: blue; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: darkblue; 
}
.menu{
float:left;
width:200px;
}

#user_video{
width: 200px;
height: 154px;
border: 8px solid #334456;
z-index: 2;
position:relative;
float:right;

}


.toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
      margin: 10px;
  
      display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .toggle-slider {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 28px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: 0.4s;
  }
  
  .toggle-checkbox:checked + .toggle-label .toggle-slider {
    transform: translateX(28px);
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #2196F3;
  }
  
  #chat-container {
  width: 1080px; /* Adjust this to set the div's width */
  margin-bottom:0px;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
  background:#1f3624;
  }
  
  
  #button_bar{
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .centered-text {
    text-align: center;
  }
  
  .shrink {
    width: 1000px;
    height: 0px;
    margin-top:10px;
  }
  
  .grow {
    width: 1080px !important;
    height: 350px !important; 
  }
  
  
  
  /* Styling the outer select container */
  .custom-select {
      position: relative;
      width: 200px;
      height: 40px;
      background-color: #232323;
      border-radius: 5px;
      overflow: hidden;
      transition: box-shadow 0.5s ease;
      box-shadow: 0px 0px 5px 2px rgba(0, 150, 255, 0.75);
  }
  
  /* Styling the select element */
  .custom-select select {
      width: 100%;
      height: 100%;
      -webkit-appearance: none;  /* Remove default select dropdown arrow */
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      color: #0af;
      padding: 10px;
      border: none;
      outline: none;
  }
  
  /* Adding custom dropdown arrow */
  .custom-select::after {
      content: '\25BC';
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #0af;
      pointer-events: none;
  }
  
  /* Styling on hover */
  .custom-select:hover {
      box-shadow: 0px 0px 10px 4px rgba(0, 150, 255, 1);
  }
  
  
  
  